.obsidian/
.obsidian/plugins
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.trash/
.DS_Store
.idea/

1. Projects/AWS/Running Containers on Amazon EKS/Running Containers on Amazon EKS Lab Guide.pdf
1. Projects/AWS/Running Containers on Amazon EKS/Running Containers on Amazon EKS Student Guide.pdf